/******** Global Elements - Application Font *************/
*{
  font-family: $baseFontFamily;
}

body{
  font-size:$baseFontSize !important;
  color: $baseTextColor;
  .helpText{
    font-size:$baseFontSize !important;
    color: $baseTextColor;  
  }
  .label{
    color: $baseTextColor !important;
  }
  #otherAccountsContainer .otherAccountsLink{
    color: $baseTextColor !important;
  }
  .siteList .site-item .siteInfo .siteLoginForm .siteName{
    color: $baseTextColor;
  }
  .panel {  
    color: $baseTextColor;
  }
  #bubbleTooltip{
    color: $baseTextColor;
  }
}
.module_10003600 .flContainer {
    ul.tabs .listElement label {
        font-family: $baseFontFamily;
    }
    .headerTitle{
        font-family: $baseFontFamily;
    }
    .section-title {
        font-family: $baseFontFamily;
    }
    .footer .link a {
        font-family: $baseFontFamily;
    }
    .helpText {
        font-family: $baseFontFamily;
        color: $baseTextColor;
    }
    .siteLogo .bankNameContainer #siteLogoDisplayName {
        font-family: $baseFontFamily;
        color: $baseTextColor;
    }
    .user-message {
       color: $baseTextColor; 
    }
    .rightSection .rightSectionContent p, .rightSection .rightSectionContent li, .rightSection .rightSectionContent div {
        color: $baseTextColor !important; 
    }
}
.module_10003592 .loginhelptext {
    color: $baseTextColor !important; 
}
.module_10003591 {
    .searchBoxContainer #searchBtn .button {
        font-family: $baseFontFamily;
    }
    .siteList .site-item .siteInfo .siteName {
        font-family: $baseFontFamily;
        color: $baseTextColor;
    }
    #otherAccountsContainer .otherAccountsLink {
        font-family: $baseFontFamily;
    }
    
}
.section-wrapper .section-header, .errorSection .error-title, .module_10003598 .success-page-main-title .success-page-currency {
    font-family: $baseFontFamily;
}
.module_10003594 .list-item .title {
    font-family: $baseFontFamily;
    color: $baseTextColor; 
}
// Links
.siteUrl a, #otherAccountsContainer .otherAccountsLink a, a.navigate-to-provider, .link a, .helpText a, .module_10003600 .rightSectionContent a, .module_10003591 .siteList .site-item .siteInfo .siteUrl{
  color:$defaultLinkColor !important;
  text-decoration:$defaultLinkDecoration;
  
  &:hover{
    color:$linkColorHover !important;
    text-decoration:$linkDecorationHover;
  }
}
.searchBoxContainer{
  .searchIcon{
    color: $contentSecondaryColor !important;
  }
  .searchClose{
    color: $contentSecondaryColor !important;
  }
  .backToPopSugg{
    color: $contentSecondaryColor !important; 
  }
}
// css hack to apply placeholder text color in chrome
::-webkit-input-placeholder {
   color: $contentSecondaryColor;
}
:-moz-placeholder { /* Firefox 18- */
   color: $contentSecondaryColor;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $contentSecondaryColor;
}
:-ms-input-placeholder {
   color: $contentSecondaryColor;
}
// Errors - Success
/*.errorSection {
    background-color: $errorBgColor;
    border: 1px solid $errorContainerBorderColor;
    .error-title {
        color: $errorMessageTitleColor;
    }
    .error-description {
        color: $errorMessageDescColor;
    }
}
.accountStatus .accountsInError{
  color: $errorMessageTitleColor !important;
}*/
.module_10003600 form.with-form-fields .row .inlineError, .module_10003600 #deletePopUpId .yodlee-modal-popup-modal-content .popup-content.warning {
    color: $errorMessageDescColor !important;
}
.module_10003598 .success-page-main-title .success-page-currency {
    color: $successTextColor;
}

/********  Global Elements - Buttons  *************/
.button {
  border-radius: $buttonCornerRadius !important;
    &.expand {
    border-radius: $buttonCornerRadius !important;
  }
    &.primary {
        color: $primaryButtonFontColor !important;
        background-color: $primaryButtonBgColor !important;
        border: 1px solid $primaryButtonBorderColor;
    &:hover {
            color: $primaryButtonFontColorHover !important;
      background-color: $primaryBtnBgColorHover !important;
      border: 1px solid $primaryBtnBorderColorHover;
        }
    &.disabled{
      background-color: $primaryButtonBgColor !important;
      border: 1px solid $primaryButtonBorderColor;
            opacity: $primaryDisableOpacity !important;
            box-shadow: 1px 1px 3px $primaryButtonBorderColor;
    }
  }
  &.secondary { 
    background-color: $secondaryBtnBgColor !important;
    border: 1px solid $secondaryBtnBorderColor;
    box-shadow: 1px 1px 1px $secondaryBtnBorderColor;
    color: $secondaryButtonFontColor !important;
        &:hover {
      background-color: $secondaryButtonBgColorHover !important;
      border: 1px solid $secondaryBtnBorderColorHover !important;
      box-shadow: 1px 1px 1px $secondaryBtnBorderColorHover;
      color: $secondaryButtonFontColorHover !important;
        } 
    }
  &.tertiary {
    background-color: $tertiaryButtonBgColor;
    border: 1px solid $tertiaryButtonBorderColor;
    color: $tertiaryButtonFontColor !important;
        &:hover {
      background-color: $tertiaryButttonBgColorHover;
      border: 1px solid $tertiaryBtnBorderColorHover;
      color: $tertiaryButtonFontColorHover;
        } 
  }
} 
//Model popup button styles are made as secondary button styles
.yodlee-modal-popup-modal-content .yodlee-modal-popup-btn{
    background-color: $secondaryBtnBgColor !important;
    border: 1px solid $secondaryBtnBorderColor;
    box-shadow: 1px 1px 1px $secondaryBtnBorderColor;
    color: $secondaryButtonFontColor;
        &:hover {
      background-color: $secondaryButtonBgColorHover !important;
      border: 1px solid $secondaryBtnBorderColorHover !important;
      box-shadow: 1px 1px 1px $secondaryBtnBorderColorHover;
      color: $secondaryButtonFontColorHover !important;
        }
}
//Delete button
.module_10003600 #deletePopUpId .yodlee-modal-popup-btn-group .yodlee-modal-popup-btn.tertiary {
    background-color: $deleteBtnBgColor !important;
    border: 1px solid $deleteBtnBorderColor !important;
    box-shadow: 1px 1px 1px $deleteBtnBorderColor !important;
    color: $deleteButtonFontColor !important;
    &:hover {
        background-color: $deleteBtnBgColorHover !important;
        border: 1px solid $deleteBtnBorderColorHover !important;
        box-shadow: 1px 1px 1px $deleteBtnBorderColorHover !important;
        color: $deleteBtnFontColorHover !important;
    } 
}

/********  Global Elements - Form Container  *************/
.module_10003600 .flContainer {
    .boxWrapper {
        border-color: $formContainerBorderColor;
        border-radius: $formContainerBorderRadius;
    }
    .section-title {
        color: $formContainerHeaderTitleColor;
        background-color: $formContainerHeaderBGColor;
    }
}
.section-wrapper .section-header {
    background-color: $formContainerSubHeaderBGColor;
}
.module_10003594 {
    .not-full-view .section-title2 {
        border-color: $formContainerBorderColor;
    }
}
.module_10003594 .section-title2 {
    color: $formContainerHeaderTitleColor;
    background: $formContainerSubHeaderBGColor !important;
}
.module_10003600 .flContainer .site-form, .module_10003593 .boxWrapper, .module_10003598 .boxWrapper {
    background: $formContainerBGColor;
}

/********  Global Elements - Form Elements  *************/
body .label, label.yodlee-radio-button-label-radio {
    color: $FormLabelFontColor !important;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
    background: $inputFieldDefaultBGColor;
    border-color: $inputFieldDefaultBorderColor;
    color: $inputFieldDefaultFontColor !important;
    border-radius: $inputFieldBorderRadius !important;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    background: $inputFieldFocusBGColor;
    border-color: $inputFieldFocusBorderColor;
    color: $inputFieldFocusFontColor;
}
.module_10003600 .input-error-field.errorField {
    border-color: $inputFieldErrorBorderColor;
}
//dropdown
.customSelect {
  border-color: $dropdownBorderColor !important;
  background-color: $dropdownBgColor !important;
}
.customSelect .value, .module_10003600 .customSelect .option {
  color: $dropdownFontColor !important;
}
.customSelect .optList{
  background: $dropdownBgColor;
    border-color: $dropdownBorderColor;
}
.customSelect .selected {
  background: $dropdownSelectedItemBgColor;
}
.customSelect .option:hover{
  background: $dropdownItemBgColorOnHover;
}
.f-dropdown li:hover, .f-dropdown li:focus{
  background: $dropdownItemBgColorOnHover;
}
// Switch
.switch label {
    background-color: $switchBtnOffBgColor !important;
  border-color: $switchBtnOffBgColor !important;
   }
.switch label::before ,.switch label::after{
    border-color: $switchBtnOffBgColor  !important;;
}
.switch input:checked + label::after{
  border-color: $switchBtnOnBgColor !important;
}
.switch input:checked + label{
  border-color: $switchBtnOnBgColor !important;
}

.switch input:checked + label::before{
  border-color: $switchBtnOnBgColor  !important;
}

/********  Global Elements - Calendar  *************/
.calendar{
  .days{
    .months{
      background-color: $calendarHeaderBgColor;
      color: $calendarHeaderFontColor;
    }
    .js-table.month .weekdays{
      background-color:$calendarDaysBgColor;
      color: $calendarDaysFontColor;
    }
    .js-table.month .weeks .js-row{
      .past-date,.future-date{
        background-color: $calendarActivedDatesBgColor;
        a{
          color:$calendarActiveDateFontColor !important; 
        }
        &.selected{
          background-color:$calendarSelectedDateBgColor !important;
          a {
            color: $calendarSelectedDateFontColor !important;
          }
        }
        &.selected::before{
          background-color:$calendarSelectedDateBgColor !important;
          a {
            color: $calendarSelectedDateFontColor !important;
          }         
        }
        &.holiday{
          background-color:$calendarHolidayBackgroundColor !important;
          a{
            color:$calendarHolidayFontColor !important; 
          }
        }           
      }
      .todays-date{
        background-color:$calendarTodayDateBgColor;
        a{
          color:$calendarTodayDateFontColor !important;
        }
      }       
      .pre-filler-date.past-date,.post-filler-date.future-date{
        a{
          color:$calendarInActiveDateFontColor !important; 
        }
        &.holiday{
          background-color:$calendarHolidayBackgroundColor !important;
        }           
      }
    }
  }
}

/********  Global Elements - Stepper  *************/
.module_10003600 .flContainer ul.tabs .listElement.active {
    border-bottom: 2px solid $activeStepperBorderBottomColor !important;
    label {
        color: $activeStepperFontColor;
    }
}
.module_10003600 .flContainer ul.tabs .listElement {
    border-bottom: 2px solid $inactiveStepperBorderBottomColor !important;
    label {
        color: $inactiveStepperFontColor;
    }
}
.module_10003600 .flContainer ul.tabs .listElement.preactive {
    border-bottom: 2px solid $completedStepperBorderBottomColor !important;
    label {
        color: $completedStepperFontColor;
    }
}

/********  Global Elements - Model Popups  *************/
.yodlee-modal-popup-main-title.style-class {
    background-color: $popupHeaderBgColor;
    border-bottom-color: $popupHeaderBorderBtmColor;
}
.yodlee-modal-popup-main-title, .module_10003600 #deletePopUpId .yodlee-modal-popup-main-title{
    color: $popupHeaderTitleColor;
}
yodlee-modal-popup-modal-window, .module_10003600 #deletePopUpId, .yodlee-modal-popup-modal-content {
    background: $popupContainerBgColor;
}
.yodlee-modal-popup-body-message{
  color: $baseTextColor;
    border-bottom-color: $popupHeaderBorderBtmColor !important;
}

/********  Fast Link  - Container  *************/
.module_10003600 .flContainer {
    .headerTitle {
        background-color: $FLheaderBGColor !important;
        color: $FLheaderFontColor;
    }
    .flWrapper {
        background: $FLContainerBGColor;
    }
}

/********  SVG Images  *************/

/********  Other(gif/png) images  **********/

/******* Custom CSS starts here*********/