
//Global Elements - Application Font
// --------------------------------------------------
$baseFontFamily : Klara;
$h1FontFamily : MSGloriolaIIStdLight;
$h1FontSize : 34px;
$h1LineHeight: 44px;
$h2FontFamily : MSGloriolaIIStdLight;
$h2FontSize : 25px;
$h3FontSize : 14px;
$h3LineHeight: 20px;
$paraFontSize:15px;
$paraLineHeight:20px;
$baseFontSize : 15px;
$baseFontLineHeight : 20px;
$baseTextColor : #555555;
$defaultLinkColor : #0F8EC7;
$defaultLinkDecoration : none;
$linkColorHover : #0F8EC7;
$linkDecorationHover : none;
$linkLineHeight: 15px;
$contentSecondaryColor : #B7B7B7;
$successTextColor : #222222;
$errorMessageDescColor : #CC5A5A;
$linkColorSize:18px;
$errorColor : #CC5A5A;

//Global Elements - Buttons Common Properties
// --------------------------------------------------
$buttonCornerRadius : 30px;

//Global Elements - Primary Button
// --------------------------------------------------
$primaryButtonFontColor : #FFFFFF;
$primaryButtonBgColor : #0F8EC7;
$primaryButtonBorderColor : #0F8EC7;
$primaryButtonFontColorHover : #FFFFFF;
$primaryBtnBgColorHover : #0F8EC7;
$primaryBtnBorderColorHover : #0F8EC7;
$primaryDisableOpacity : 1;
$primaryButtonDisabledBgColor:#DADADA; 

//Global Elements - Secondary Button
// --------------------------------------------------
$secondaryButtonFontColor : #0F8EC7;
$secondaryBtnBgColor : #FFFFFF;
$secondaryBtnBorderColor : #FFFFFF;
$secondaryButtonFontColorHover : #0281BE;
$secondaryButtonBgColorHover : #FFFFFF;
$secondaryBtnBorderColorHover : #FFFFFF;

//Global Elements - Tertiary Button
// --------------------------------------------------
$tertiaryButtonFontColor : $secondaryButtonFontColor ;
$tertiaryButtonBgColor : $secondaryBtnBgColor;
$tertiaryButtonBorderColor : $secondaryBtnBorderColor;
$tertiaryButtonFontColorHover : $secondaryButtonFontColorHover;
$tertiaryButttonBgColorHover : $secondaryButtonBgColorHover;
$tertiaryBtnBorderColorHover : $secondaryBtnBorderColorHover;

//Global Elements - Delete Button
// --------------------------------------------------
$deleteButtonFontColor : #FFFFFF;
$deleteBtnBgColor : #0F8EC7;
$deleteBtnBorderColor : #0F8EC7;
$deleteBtnFontColorHover : #FFFFFF;
$deleteBtnBgColorHover : #0F8EC7;
$deleteBtnBorderColorHover : #0F8EC7;

//Global Elements - Form Container
// --------------------------------------------------
$formContainerBorderColor : #FFFFFF;
$formContainerBorderRadius : 0px;
$formContainerHeaderBGColor : #FFFFFF;
$formContainerHeaderTitleColor : #222222;
$formContainerSubHeaderBGColor : #FFFFFF	;
$formContainerBGColor : #FFFFFF;
$formContainerSectionTitleColor: #222222;
$formContainerSectionTitleSize: 25px;
$formContainerPlaceholderSize: 25px;

//Global Elements - Form elements
// --------------------------------------------------
$FormLabelFontColor : #0F8EC7;
$inputFieldDefaultFontColor : #0F8EC7;
$inputFieldDefaultBGColor : #FFFFFF;
$inputFieldDefaultBorderColor : #B7B7B7;
$inputFieldBorderRadius : 0px;
$inputFieldFocusFontColor : #222222;
$inputFieldFocusBGColor : #FFFFFF;
$inputFieldFocusBorderColor : #0F8EC7;
$dropdownFontColor : #000000;
$dropdownBgColor : #FFFFFF;
$dropdownBorderColor : #B7B7B7;
$dropdownSelectedItemBgColor : #F5F5F5;
$dropdownItemBgColorOnHover : #F5F5F5;
$inputFieldErrorBorderColor : #CC5A5A;
$switchBtnOffBgColor : #DADADA;
$switchBtnOnBgColor : #0F8EC7;
$siteListColor:#555555;
$inputFieldcheckBoxLabelColor: #0F8EC7;

//Global Elements - Calendar
// --------------------------------------------------
$calendarHeaderBgColor : #FFFFFF;
$calendarHeaderFontColor : #002c51;
$calendarDaysBgColor : #FFFFFF;
$calendarDaysFontColor : #0F8EC7;
$calendarHeaderArrowColor : #0F8EC7;
$calendarInActiveDateFontColor : #b7b7b7;
$calendarActiveDateFontColor : #0F8EC7;
$calendarActivedDatesBgColor : #FFFFFF;
$calendarSelectedDateBgColor : #f5f5f5;
$calendarSelectedDateFontColor : #0F8EC7;
$calendarTodayDateBgColor : #0F8EC7;
$calendarTodayDateFontColor : #FFFFFF;
$calendarHolidayBackgroundColor : #FFFFFF;
$calendarHolidayFontColor : #0F8EC7;

//Global Elements - Stepper
// --------------------------------------------------
$activeStepperFontColor : #222222;
$activeStepperBorderBottomColor : #EEEFEE;
$completedStepperFontColor : #b7b7b7;
$completedStepperBorderBottomColor : #EEEFEE;
$inactiveStepperFontColor : #b7b7b7;
$inactiveStepperBorderBottomColor : #EEEFEE;

//Global Elements - Dialog
// --------------------------------------------------
$popupHeaderBgColor : #FFFFFF;
$popupHeaderTitleColor : #002C51;
$popupHeaderBorderBtmColor : #FFFFFF;
$popupContainerBgColor : #FFFFFF;
$flPopupContentColor:#002C51;

//Fastlink - Applicaton Layout
// --------------------------------------------------
$FLheaderFontColor : #FFFFFF;
$FLheaderBGColor : #0F8EC7;
$FLContainerBGColor : #FFFFFF;

//Icons - SVG/Font Icon Images
// --------------------------------------------------
$settingsIconColor : #77716F;
$trashIconColor : #77716F;
$cardCloseIconColor : #FFFFFF;
$errorIconColor : #CC5A5A;
$tick-success : "url('/brands/10019356-5921CE7A1A29DF76FFA9E56E005BF800/img/icon-tick-success.svg')";
$down-arrow : "url('/brands/10019356-5921CE7A1A29DF76FFA9E56E005BF800/img/down-arrow.svg')";

//Icons - Other Type
// --------------------------------------------------
$loader_big : url('/default/img/v5/bg/loader.gif');
$spinner_medium : url('/default/img/v5/bg/loader.gif');
$radio-on : url("/default/img/v5/bg/radio-on.png");
$radio-off : url("/default/img/v5/bg/radio-off.png");
$check-on : url("/default/img/v5/bg/check-on.png");
$check-off : url("/default/img/v5/bg/check-off.png");

//Custom CSS
// --------------------------------------------------
$boxWrapperBGColor:#F5F5F5;
$toggleButtonFontColor:#222222;